body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Segoe UI Variable Text', sans-serif;
}

.form-container {
  width: 40%;
  left: 200px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: absolute;
  
}

form {
  display: grid;
  gap: 10px;
}

label {
  font-weight: bold;
}
p {
  margin:0px;
  margin-bottom:5px;
}
input, select {
  width: 100%;
  padding: 5px;
}

button {
  width: 20%;
  align-items: center;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  background: #f9f9f9;
  width: 20%;
  height: 100vh;
  padding: 10px;
  border-left: 1px solid #ccc;
  overflow-y: auto;
}

.menu-container ul {
  list-style-type: none;
  padding: 0;
}

.menu-container ul li {
  margin-bottom: 5px;
  cursor: pointer;
}

.menu-container ul li:hover {
  background: #e0e0e0;
}

.menu-container .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #000;
}

.menu-container .close-btn:hover {
  color: #ddd;
}

@media (max-width: 768px) {
  .menu-container {
    transform: translateX(0);
  }
}
#panel {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    background-color: lightgray;
    overflow-y: auto; 
    padding-right: 20px;  
    max-height: 100%;
}



#line {
  width: 80%;
  height: 2px;
  background-color: #333;
}

tr {
    margin-bottom: 10px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: center;
    border: 2px black;

}

th {
    background-color: #f2f2f2;
    border: 2px black;

}

.td-line {
    border-right: px solid black;
    border: 2px black;

}

button{
  background-color: #0056b3;
  margin: 2px;
}

.sidebar {
    width: 230px;
    background-color: #f1f1f1;
}

table {
    width: 90%;
}
#reportsButton1 a {
  display: none; 
}

#reportsButton1 {
  background-color: #1c05b3;
  color: white;
  padding: 10px 20px;
  width: 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  left: 2.5%;
  top: 5%;
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
