<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Облік викладачів</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="form-container">
  <form id="submit_form" action="/" enctype="multipart/form-data" method="POST">

    <label for="name">ПІБ:</label>
    <input type="text" id="name" name="name" required>

    <label for="course">Назва курсу:</label>
    <input type="text" id="course" name="course"   required>

    <label for="date">Дата:</label>
    <input type="date" id="date" name="date"   required>

    <label for="hours">Години:</label>
    <input type="number" id="hours" name="hours"   pattern="\d+" min="1" required>

    <label for="credits">ECTS кредити:</label>
    <input type="number" id="credits" name="credits" pattern="\d+" min="0.1" step="0.1" required>
    <p>Формат: X.XX (де X - цифра)</p>

    <label for="certificate">Сертифікат: <i>.pdf, .doc, .docx</i></label>
    <input type="file" id="certificate" name="certificate"   accept=".pdf, .doc, .docx" required>

    <label for="country">Країна:</label>
    <input type="text" id="country" name="country" required>

    <label for="type">Виберіть тип:</label>
    <select id="type" name="type" >
      <option value="Навчальне">Навчальне</option>
      <option value="Виробниче">Виробниче</option>
      <option value="Наукове">Наукове</option>
      <option value="Дослідницьке">Дослідницьке</option>
    </select>

    <button type="submit">Занести</button>

  </form>
    
</div>

<div id="panel">
  <table style="margin: 15px;">
    <thead>
        <tr>
            <th>Ім'я</th>
            <th>Назва курсу</th>
            <th>ECTS кредити</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr id="row_{{ row_id }}">
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>
          <button class="delete-btn" style="width: 40px; height: 40px;" data-name="{{ row[1] }}" method="POST">
            <img src="{{ url_for('static', filename='images/delete-vector.png') }}" class="image"  style="width: 20px; height: 20px;"/>
          </button>
        </td>
      </tr>
      <script>
        var rowName = "{{ row[0] }}"; 
      </script>
      {% endfor %}
    </tbody>
  </table>
  <button id="submit1" style="width:200px; margin: 15px; ">Відправити на розгляд</button>
</div>

<a href="/reports.html"><button id="reportsButton1">Звіти</button></a>


<script>
document.querySelectorAll('.delete-btn').forEach(button => {
    button.addEventListener('click', () => {
        const name_of_course = button.getAttribute('data-name');
        fetch('/delete_row', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `name_of_course=${name_of_course}`,
        })
        .then(response => {
            if (response.ok) {
                button.parentNode.parentNode.remove();
            } else {
                console.error('Failed to delete row');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
});



document.getElementById('submit1').addEventListener('click', function() {
  fetch('/submit1', {
      method: 'POST',
      headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
      },
      body: `name=${rowName}`,
  })
  .then(response => {
      if (response.ok) {
          document.querySelector('tbody').innerHTML = '';
          alert("Дані успішно відправлені на розгляд: " + rowName);
      } else {
          console.error('Failed to execute action');
      }
  })
  .catch(error => {
      console.error('Error:', error);
  });
});

</script>

</body>
</html>
